# Created by https://www.gitignore.io/api/nim,code
# Edit at https://www.gitignore.io/?templates=nim,code

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Nim ###
nimcache/

# End of https://www.gitignore.io/api/nim,code
